{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block body %}
    {% block content %}
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <h1 class="text-body-emphasis">Map-It</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            Map-It
        </p>
        <div class="d-inline-flex gap-2 mb-5"> 
            <a
                class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" role="button">
                Call to action
            </a> 
            <a class="btn btn-outline-secondary btn-lg px-4 rounded-pill" role="button">
                Secondary link
            </a> 
        </div>
    </div>
    {% endblock content %}
{% endblock body %}