{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Export Libraries Data{% endblock title %}


{% block content %}
<div class="container">

    <h3 class="text-center mt-3 mb-4">Export Libraries Data</h3>

    <p class="text-center mb-4">The total number of records that will be exported is: {{ count }}</p>
    
    <p class="form-text">
        Currently you can export the following file types <br>
        CSV (Comma Separated Values) <br>
        JSON files <br>
        Microsoft Excel (.xlsx)<br>
    </p>

    <div class="col-md-4">
        <form method="POST" action="{% url 'seattle:export-libraries' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Export Data</button>
        </form>
    </div>
    
    <a class="btn btn-outline-danger" href="{% url 'seattle:seattle-homepage' %}">Return to homepage</a>
</div>
{% endblock content %}
